@charset "UTF-8";

.words {
	z-index: 1;
    display: block;
    position: absolute;
	scale:.2;
	top:8%;
	right:-19%;
	opacity:.7
	
}


.title-button{
	z-index: 2;
    display: block;
    position: absolute;
	scale:.6;
	bottom:1.5%;
	right:.3%;
	opacity:.6
}


.help {
    z-index: 2;
    display: block;
    position: absolute;
    opacity: .8;
    bottom: 70%;
    left: 75%;
    width: 22%;
    height: 30%
}



.jumanji {
	z-index: 1;
    display: block;
    position: absolute;
	scale:1;
	top:90%;
	right:75%;
	opacity:.6
}